
        <div>First Ruby rails project just the trails version'
            <ul class="right">
                <li class="classname1">Qasim 1</li>
                <li class="classname2">Qasim 2</li>
                <li class="classname3">Qasim 3</li>
                <li class="classname4">Qasim 4</li>
                <li class="classname5">Qasim 5</li>
                <li class="classname6">Qasim 6</li>
            </ul>
        </div>

